.btnWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
  padding-right: 20px;
}
.langBtn {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.langBtn:disabled {
  background-color: black;
  cursor: default;
  color: #fff;
}
